@import './scss/reset.scss';
@import './assets/fonts/index.scss';
@import './scss/colors.scss';
@import './scss/variables.scss';

@mixin opacity-hover() {
  transition: opacity .3s ease;
  opacity: 1;

  &:hover {
    transition: opacity .3s ease;
    opacity: .6;
  }
}

body {
  background: $color-bg;
  font-family: 'Inter';
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
