@import '../../scss/colors.scss';

.menu {
    width: 320px;
    padding: 0 15px;
}

.title {
    // !Миксин!
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 25px;
    color: white;
}

.levels {
    // ! Миксин!
    font-size: 24px;
    font-weight: 500;

    li {
        width: 320px;
        padding: 20px 42px;
        border-radius: 1px;
        border-bottom: 1px solid $color-orange;
        background: #353535;

        font-size: 10px;
        font-weight: 300;
        color: $color-orange;

        cursor: pointer;
        transition: all 0.3s ease;

        span {
            display: block;
            font-size: 24px;
            font-weight: 500;
            line-height: 140%;

        }

        &:first-child {
            color: $color-green;
            border-bottom-color: $color-green;
        }

        &:last-child {
            color: $color-red;
            border-bottom-color: $color-red;
        }

        &:hover {
            transform: translateX(5px);
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}